<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>医師一覧</title>
<link href="/css/index.css" th:href="@{/css/index.css}" rel="stylesheet">


	<script type="text/javascript" src="/js/index.js"></script>
	<table class="list">
	  <tbody><tr>
	    <th class="r1" style="width:5%">ID</th>
	    <th class="r1" style="width: 20%">医師名</th>
	    <th class="r2" style="width: 12%">病院名</th>
	    <th class="r2" style="width: 18%">診療科</th>

	  </tr>
	  <tr th:each="list:${list}">
	  	<td><a href="/drlist" th:href="@{/drlist}" th:text="${list.drNo}"></a></td>
	  	<td th:text="${list.drName}"></td>
	  	<td th:text="${list.hpName}"></td>
	  	<td th:text="${list.kaName}"></td>
	  </tr>
	</tbody></table>
	<br>
	<div class="button">
		<a href="./drtoroku" class="btn-circle-flat">新規登録</a>
	</div>
</body>
</html>