<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>診療科一覧</title>
<link href="/css/index.css" th:href="@{/css/index.css}" rel="stylesheet">


	<script type="text/javascript" src="/js/index.js"></script>
	<table class="list">
	  <tbody><tr>
	    <th class="r1" style="width:5%">ID</th>
	    <th class="r1" style="width: 20%">診療科名</th>

	  </tr>
	  <tr th:each="list:${list}">
	  	<td><a href="/kalist" th:href="@{/kalist}" th:text="${list.kaNo}"></a></td>
	  	<td th:text="${list.kaName}"></td>
	  </tr>
	</tbody></table>
	<br>
	<div class="button">
		<a href="./newpt" class="btn-circle-flat">新規登録</a>
	</div>
</body>
</html>