<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>katoroku</title>
<link href="/css/pttoroku.css" th:href="@{/css/pttoroku.css}" rel="stylesheet">



	<form action="/katoroku" method="post" name="katorokuReg">
		<div class="container">
			<div class="row">
				<div class="gray">
					<span style="color: Red;">（※）</span>は必須
				</div>
			</div>
			<div class="UserInfoTitle">1</div>
			<div class="row">
				<div class="UserInfo1_1 head">診療科名</div>
				<div class="row">
					<div class="UserDtl_1">診療科名</div>
					<input type="text" name="kaName" size="50" maxlength="50" class="kana" style="">
				</div>
			</div>
		</div>
		<div class="container">
			<button class="reset flat fade" type="submit" name="action" value="doCommit" id="doCommit" onclick="executeSubmit()">登録</button>
		</div>
	</form>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script type="text/javascript" src="/js/pttoroku.js"></script>
</body>
</html>